.dd-wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  font-family: Overpass;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 1px 3px 4px rgba(61, 61, 61, 0.1), 1px 1px 1px rgba(60, 60, 60, 0.025);
  transition: 0.2s;

  &:hover {
    border: 1px solid var(--secondary-color);
  }

  ::-webkit-scrollbar {
    width: 5px;
    background: white;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
  }
  *:focus {
    outline: none;
  }

  .dd-header {
    color: var(--title-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .7rem 1rem;
    cursor: pointer;

    &__title--bold {
      color: var(--secondary-color);
      font-weight: bold;
    }
  }

  .dd-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 35%;
    min-height: 300px;
    height: 50%;
    box-shadow: 1px 4px 5px rgba(60, 60, 60, 0.25), 0px 1px 1px rgba(60, 60, 60, 0.1);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-top: 60px;
    z-index: 5;
    overflow-y: scroll;


    li {
      list-style-type: none;

      button {
        display: flex;
        justify-content: space-between;
        color: var(--paragraph-color);
        background-color: white;
        font-size: 16px;
        padding: 1rem;
        border: 0;
        width: 100%;
        text-align: left;

        &.selected {
          color: var(--secondary-color);
          font-weight: bold;
        }

        &:hover, &:focus {
          color: var(--secondary-color);
          font-weight: bold;
          background-color: #f1f1f1;
          cursor: pointer;
        }
      }
    }
  }
}
