.activity{
  max-width: 80%;
  font-family: Overpass;
  padding-left: 2rem;
  text-align: justify;

  @media(max-width: 600px) {
    max-width: 100%;
    margin-top: 2rem;
    padding: 0;
  }

  &__description {
    color: var(--title-color);
  }

  &__body{
    margin: 2rem 0;
  }

  &__action-bar{
    display: flex;
    justify-content: flex-end;

    @media(max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }
}