.changeEmailConfirm {

  max-width: 100%;
  min-height: 50vw;

  h1 {
    padding-top: 5vw;
    box-sizing: border-box;
    font-size: 3vw;
    font-family: Overpass, sans-serif;
    margin-left: 4.5vw;
    color: var(--title-color);
  }

  p {
    font-weight: 300;
    font-size: 2vw;
    font-family: Overpass, sans-serif;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    text-align: left;
  }

  button {
    position: relative;
    margin-left: 50vw;
    margin-right: 20vw;
    top: 2vw;
  }
}

.login-link  {
    display: inline-block;
    align-self: flex-end;
    text-align: left;
    text-decoration: underline;
    color: var(--secondary-color);
    position: relative;

}