.loader {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1rem 0;

  &__text {
    margin-right: 1rem;
    color: var(--text-color)
  }

  &__dual-ring {
    &:after{
      content: " ";
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      margin: auto;
      border-radius: 50%;
      border: 3px solid var(--secondary-color);
      border-color: var(--secondary-color) transparent var(--secondary-color) transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }

    &.big {
      &:after{
        width: 4rem;
        height: 4rem;
        border-width: 5px;
        animation: lds-dual-ring 0.8s linear infinite;
      }
    }
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
