.tutorial {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(125deg, #fffffff0, #F0F0F0 100%);
  font-family: Overpass;

  &__content {
    width: 1100px;
    max-width: 85%;
    padding: 2rem 1rem;
    margin: 0 auto;
    align-self: center;

    &--header {
      display: flex;
      justify-content: space-between;
      margin: 2em 0;

      @media(max-width: 600px) {
        flex-direction: column;
      }

      &--progress {
        color: var(--secondary-green);
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    &--body {
      display: flex;
      justify-content: space-between;
      min-height: 60vh;
      padding: 3em;
      background: #FFFFFF;
      box-shadow: 0px 5px 10px rgba(43, 43, 43, 0.05), 0px 15px 40px rgba(0, 0, 0, 0.02);
      border-radius: 10px;
      margin-bottom: 3rem;

      @media(max-width: 600px) {
        flex-direction: column;
        padding: 1.5rem;
      }
    }
  }

  h1 {
    font-size: 2rem;
    color: var(--title-color);
  }

  p {
    color: var(--paragraph-color)
  }
}