.tutorial {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Overpass;
  padding: 4rem 8rem;
  max-width: 90%;
  margin: 0 auto;

  &__content {
    &--header {
      display: flex;
      justify-content: space-between;

      @media(max-width: 600px) {
        flex-direction: column;
      }

      &--progress {
        color: var(--secondary-green);
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    &--body {
      display: flex;
      justify-content: space-between;
      min-height: 60vh;
      padding: 3em;
      background: #FFFFFF;
      box-shadow: 0px 5px 10px rgba(43, 43, 43, 0.05), 0px 15px 40px rgba(0, 0, 0, 0.02);
      border-radius: 10px;
      margin-bottom: 3rem;

      @media(max-width: 600px) {
        flex-direction: column;
        padding: 1.5rem;
      }
    }
  }
}