.activities-list {
  min-width: 200px;
  width: 20%;
  border-right: 1px solid var(--border-color);

  @media(max-width: 600px) {
    width: 100%;
    margin: 0;
    border-right: none;
    border-bottom: 1px solid var(--border-color);
  }

  &__header {
    padding-bottom: 3rem;
    color: var(--title-color);
  }

  &__list {
    text-transform: uppercase;
    font-weight: 600;

    &-item{
      a {
        color: var(--placeholder-color);
        text-decoration: none;
        &:hover {
          color: var(--text-color);
          font-weight: 700;
          text-decoration: none;
        }
      }

      &.correct {
        a { color: var(--secondary-green); }
      }

      &.wrong{
        a { color: var(--error-color); }
      }
    }

  }
}