.activities-list {
  min-width: 200px;
  width: 20%;
  border-right: 1px solid var(--border-color);

  @media(max-width: 600px) {
    width: 100%;
    margin: 0;
    border-right: none;
    border-bottom: 1px solid var(--border-color);
  }

  &__header {
    padding-bottom: 3rem;
  }
}