.button {
  min-width: 135px;
  padding: 0.5rem;
  font-size: 16px;
  background-color: var(--primary-button);
  color: white;
  text-transform: capitalize;
  font-family: Overpass;
  letter-spacing: 0.5px;
  font-weight: bolder;
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.2s;

  &:hover {
    background-color: white;
    color: var(--hover-button);
    border: 1px solid var(--hover-button);
  }

  &:active {
    transform: scale(0.95);
  }

  &.inverted {
    background-color: white;
    color: var(--hover-button);
    border: 1px solid var(--hover-button);

    &:hover {
      background-color: var(--primary-button);
      color: white;
      border: 1px solid transparent;
    }
  }

  &.small {
    padding: 0.25rem;
    font-size: 16px;
    font-weight: bolder;

    @media (max-width: 600px) {
      min-width: 100px;
      padding: 0.3rem 0.9rem;
      font-size: 15px;
    }
  }

  &.color {
    color: var(--login-button);
    border-color: var(--login-button);

    &:hover {
      background-color: var(--login-button);
      color: white;
    }
  }

  &.thin-shadow {
    box-shadow: 1px 4px 4px rgba(51, 51, 51, 0.25), 1px 1px 1px rgba(51, 51, 51, 0.12);
  }

  &:focus {outline:0;}
}
