.exam-activity {
  // display: flex;
  // flex-direction: column;
  // flex-basis: 100%;
  border-right: 0.2rem solid transparent;
  border-bottom: 0.5rem solid transparent;

  @media(max-width: 600px) {
    overflow-x: hidden;
    padding-bottom: 0.5rem;
  }
}