$danger--color: red;

.recovery{
    padding: 5%;
    background: linear-gradient(309.23deg, rgba(136, 56, 255, 0.95) 3.17%, rgba(233, 66, 255, 0.5) 114.71%);
}

.recovery__form {
    max-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 428px;
    height: 500px;
    margin: auto;
    margin-top: 10vw;
    margin-bottom: 10vw;

    h1 {
        font-size: 48px;
        margin: 0;
        margin-left: 92.5px;
        color: var(--title-color);
    }
    p {
        margin-top: 20px;
        margin-bottom: 0;
        text-align: center;
        padding-right: 180px;
    }
    input {
        width: 235px;
        margin: auto;
        box-sizing: border-box;
        padding: 5px;
    }

    button {
        margin: auto;
        width: 150px;
    }

    .login-link {
        margin-top: 30px;
        margin-bottom: 0;
        text-align: center;
        padding-right: 0;
    }
}




.recovery__form label form {
    margin-left: 92.5px;
    margin-top: 4vw;
    color:var(--title-color);
    font-size: 16px;

    input{
        outline: none;
        width: 235px;
        display: block;
        border-width: 0.2px;

        box-sizing: border-box;
        padding: 5px;
        border-radius: 10px;
    }

    .button{
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 235px;
    }

}

.recovery__resources {
    p, a{
        text-align: center;
    }

    p:first-child {
        margin-top: 3vw;
        color: var(--secondary-color);
    }

    p a {
        color: var(--secondary-color);
        text-decoration: none;

    }

    p a:hover {
        color: var(--hover-button);
    }

}


@media(max-width: 800px) {
    .recovery__form {
        max-height: 600px;
        width: 80vw;
        height: 140vh;
        label form {
            margin-left: 15vw;
            input{
                width: 50vw;
                margin-right: auto;
            }

            .button{
                width: 50vw
            }
        }

        h1 {
            margin: 0;
            text-align: center;
        }

    }

    .recovery-resources p{
        margin: 0;
    }
}

.danger {
    color: $danger--color;
}
