.certificateList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 2rem;
  
  background-color: white;
  box-shadow: 0px 5px 10px rgba(43, 43, 43, 0.07),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid var(--border-color);
  &__body {

    overflow: hidden;
    p {
      font-weight: bold;
    }
    span {
      display: block;
    }
    
  }

  &___buttons {
    svg {
      cursor: pointer !important;
    }
  }
  @media (max-width: 800px) {
    flex-basis: 100%;
  }

  @media (max-width: 600px) {
    margin-bottom: 2rem;
  }
}
