.custom-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px !important;
  background-color: white;
  border: 1px solid var(--border-color);
  box-shadow: 0px 5px 10px rgba(43, 43, 43, 0.07), 0px 15px 40px rgba(0, 0, 0, 0.04);
  transition: all 0.2s;

  &:hover {
    box-shadow: 0px 5px 10px rgba(49, 49, 49, 0.1),
      0px 15px 40px rgba(0, 0, 0, 0.07);
    transform: scale(1.03);
  }

  @media (max-width: 800px) {
    flex-basis: 100%;
  }

  @media (max-width: 600px) {
    margin-bottom: 2rem;
  }

  &__title {
    color: var(--title-color);
    border-bottom: 1px solid var(--border-color);
  }

  &__content {
    word-wrap: wrap;
    color: var(--text-color);

    &.emphasis {
      font-weight: 600;
    }
  }

  &__link {
    align-self: flex-end;
    text-align: right;
    text-decoration: underline;
    color: var(--primary-button);
    &:hover {
      color: var(--secondary-color);
    }
  }

  &__delete {
    padding: 0;
    font-family: sans-serif;
    font-weight: 600;
    color: var(--error-color);
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid var(--error-color);
    width: 25px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      background-color: var(--error-color);
      color: white;
    }
  }
}
