#register {
    padding: 5%;
    background: linear-gradient(309.23deg, rgba(136, 56, 255, 0.95) 3.17%, rgba(233, 66, 255, 0.5) 114.71%);
}

.register__form {
    padding: 5%;
    max-height: 1100px;
    font-family: Overpass;
    background-color: white;
    border-radius: 10px;
    width: 698px;
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;

    h1 {
        font-family: Overpass;
        font-size: 48px;
        padding-left: 20px;
    }

    label form input[type="text"], input[type="password"] {
        outline: none;
        width: 225px;
        display: block;
        border-width: 0.2px;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 10px;
        padding: 4px 4px;
        }
      
}

.register__inputs {
    max-width: 600px;
    height: 375px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    padding-left: 20px;
    p {
        font-size: 20px;
        color: var(--title-color);
        font-family: Overpass;
        margin-top: 5px;
    }

    input {
        outline: none;
        width: 225px;
        display: block;
        border-width: 0.2px;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 10px;
        padding: 4px 4px;
    }
}


.register__gender {
    select {
        width: 225px;
        height: 30px;
        background-color: white;
        border-radius: 20px;
        display: flex;
    }
}

.register__options {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    p {
        font-size: 16px;
        color: var(--title-color);
        font-family: Overpass;
        margin-top: 20px;
    }

    label {
        margin-right: 10px;
        display: inline-block;
        margin-bottom: 30px;
    }

    label input[type="radio"], input[type="checkbox"]{
        margin: 0;
    }

}

.register__form .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 200px;
    margin-left: 204px;
}

@media(max-width: 800px) {
    .register__form {
        width: 90vw;
        height: 275rem;
    }
    .register__inputs {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 0;
       padding-left: 0;
       padding-right: 0;
       height: auto;
    }
  
    .register__form h1 {
        margin: 0;
        text-align: center;
    }

    .register__options {
        display: inline;
        margin-left: 0px;

        p {
            margin: 0;
        }

        label{
            margin-left: 0;
            display: inline-block;
            margin-bottom: 0.2rem;
        }
    }

    .register__options--user{
        margin-left: 20px;
        text-align: left;
    }
   
    .register__form .button {
        margin: 0 auto;
        margin-top: 4vh;
        height: 30px;
    }
}
