.register-form {
  
    padding: 5%;
    max-height: 900px;
    font-family: Overpass;
    background-color: white;
    border-radius: 10px;
    width: 698px;
    height: 717px;
    margin: auto;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.register-form h1 {
    font-family: Overpass;
    margin-left: 80px;
    font-size: 48px;
}
.register-form label form input[type="text"], input[type="password"]{
    outline: none;
    width: 200px;
    display: block;
    margin-bottom: 20px;
    border-width: 0.2px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
}

.register-inputs {
    max-width: 600px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.register-inputs .register-grid1{
    margin-left: 80px;
}
.register-inputs .register-grid2{
    margin-left: 20px;
}

.register-options {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.register-options p {
    font-size: 16px;
    color: var(--title-color);
    font-family: Overpass;
}
.register-options label {
    margin-right: 10px;
}
.register-options label input[type="radio"], input[type="checkbox"]{
    margin: 0;
}
.register-options label{
    display: inline-block;
    margin-bottom: 30px;
}

.register-form .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 200px;
    margin-left: 216.5px;
}

@media(max-width: 800px) {
    .register-form {
        width: 90vw;
        height: 46rem;
    }
    .register-inputs {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 0;
    }
    .register-inputs .register-grid1{
        margin-left: 4vw;
    }
    .register-inputs .register-grid2{
        margin-left: 4vw;
    }
    .register-form h1 {
        margin: 0;
       text-align: center;
    }

    .register-options {
        display: inline;
        margin-left: 0px;
    }
    .user-type {
        text-align: center;
    }
    .register-options p{
        margin: 0;
    }
    .register-options label{
        margin-left: 0;
        display: inline-block;
        margin-bottom: 0.2rem;
    }
    .register-form .button {
        margin: 0 auto;
        margin-top: 4vh;
        height: 30px;
    }
}
