.certificate {
  border: 15px solid var(--secondary-color);
  padding: 15px;
  margin: 15px;
  max-width: 100vw;
  // margin: 0 auto;
  // display: flex;
  // justify-content: center;

  .logo-container {
    background-color: whitesmoke;
    width: 205px;
    border-radius: 10px;
  }

  .certificate-content {
    background-color: var(--background);
    padding: 15px;
    padding-bottom: 16.6%;
    p {
      font-size: 4vh;
    }

    h3 {
      font-size: 4.3vh;
      color: var(--title-color);
      span {
        color: var(--text-color)
      }
    }
  }

  .certificate-logo {
    padding: 15px;
    background-color: var(--secondary-color);
  }

  body {
    max-height: 20%;
  }
}