.navbar {
  display: flex;
  text-align: center;
  position: sticky;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.08));
  a {
    color: var(--paragraph-color) !important;

    &:hover {
      color: var(--title-color) !important;
    }
  }
}
.navbar-collapse {
  text-align: center;
}

.logo {
  width: 240px;
}
.nav-link {
  text-align: center;
  display: flex;
  margin-left: 7vw;
  font:  600 1.25rem Overpass;
}

.nav-link:last-child {
  margin-right: 5px;
}

@media (max-width: 800px) {
  .logo {
    width: 160px;
  }
  .login-button {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background:var(--primary-button);
    border-radius: 0;
    border: 0;
    text-align: center;
    height: 40px;
    width: 100%;
    z-index: 4;
  }
  .login-button:hover {
    background: #3C0966;
  }
  .nav-link {
    margin-left: 2px;
  }
}