.navbar {
  text-align: center;
  position: sticky;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.08));
  a {
    color: var(--paragraph-color) !important;
    text-align: center;
    margin-left: 7vw;
    font: 600 1.25rem Overpass;
    &:hover {
      color: var(--title-color) !important;
      text-decoration: none;
    }
  }
  button {
    color: var(--white);
    background-color: var(--login-button);
    margin-right: 4px;
    &:hover {
      border: 1px solid var(--login-button);
      color: var(--login-button);
    }
  }
}

.navbar-brand {
  margin-left: 0 !important; 
}
.navbar-collapse {
  text-align: center;
}

.nav-buttons {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  display: flex;
  flex-direction: rows;
}


.dropdown-menu.show {
  text-align: center;
  
}

.dropdown-menu.show a {
  display: block;
  font-size: 16px;
  text-align: center !important;
  margin-left: 0; 
}


.logo {
  width: 240px;
}
.notification{
  width: 20px;
  margin-left: 7vw;
}


.nav-link:last-child {
  margin-right: 5px;
}

.profileImg {
  width: 50px;
  display: flex;
}

@media (max-width: 800px) {
  .logo {
    width: 160px;
  }
  .nav-link {
    margin-left: 2px;
  }

  .dropdown-menu.show {
    margin-left: 0;
  }
}