.courseCertificates {
  min-height: 100vh;
  max-width: 80%;
  margin: 0 auto;
  padding: 5rem 1rem;
  font-family: Overpass;

  @media (max-width: 600px) {
    padding: 2rem;
    max-width: 100%;
  }

  @media (max-width: 600px) {
    padding: 2rem;
  }
  &__header {
    margin-bottom: 3rem;
  }
  &__body {
    justify-content: space-between;
    flex-wrap: wrap;
    @media(max-width: 600px) {
      flex-direction: column;
    }
  
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25),
      0px 4px 4px rgba(51, 51, 51, 0.25), 0px 1px 1px rgba(51, 51, 51, 0.12);

    @media (max-width: 600px) {
      width: 100%;
      padding: 2rem;
    }
  }
}
