.footer {
    background: var(--footer-color);
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: var(--black);
    text-align: center;
}
.footer__body {
    & {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    }

    p {
        font-family: Overpass;
        font-weight: 700;
        color: var(--white);
    }

    a {
        font-family: Overpass;
        font-weight: 600;
        color: var(--white);

        &:hover {
            color: var(--hover-button);
            text-decoration: none;
        }
    }
}

@media(max-width: 800px) {
    .footer {
        background: var(--footer-color);
        p {
            margin-bottom: 0;
        }
    }
    .footer__body {
        grid-template-columns: 2fr 2fr;
        column-gap: 30vw;
        justify-content: center;
        padding-top: 20px;
        &--django {
            grid-row: 2;
        }
        
    }
}
