.welcome {
 
  max-width: 100%;
  min-height: 50vw;

  h1 {
    padding-top: 5vw;
    box-sizing: border-box;
    font-size: 3vw;
    font-family: Overpass;
    margin-left: 4.5vw;
    color: var(--title-color);
  }

  h2 {
    max-width: 90vw;
    font-weight: 300;
    font-size: 1.7vw;
    font-family: Overpass;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    text-align: justify;
  }

  p {
    font-weight: 300;
    font-size: 2vw;
    font-family: Overpass;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    text-align: left;
  }

  ul {
    max-width: 90vw;
    font-weight: 300;
    font-size: 2vw;
    font-family: Overpass;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    text-align: justify;
    color: var(--paragraph-color);
  }

  button {
    position: relative;
    margin-left: 50vw;
    margin-right: 20vw;
    top: 2vw;
  }
}

.links {
  a {
    display: inline-block;
    align-self: flex-end;
    text-align: left;
    text-decoration: underline;
    color: var(--secondary-color);
    position: relative;
  }

  .test-link {
    position: absolute;
    margin-left: 75vw;
  }

  .learner-dashboard-link {
    position: absolute;
    margin-left: 75vw;
  }

  .dashboard-link {
    position: absolute;
    margin-left: 50vw;
  }
}