.Toastify__toast {
  font-family: Overpass;
  font-size: 1.05rem;
  font-weight: 600;
  border-radius: 10px;
  padding: 0.7rem 1rem;
  box-shadow: 1px 3px 4px rgba(61, 61, 61, 0.8), 1px 1px 1px rgba(60, 60, 60, 0.5);

  @media (max-width: 600px) {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 80%;
  }
}
.Toastify__toast--dark {
  background-color: var(--hover-button);
}
.Toastify__toast--default {
  color: var(--title-color);
  background-color: #f9f9f9;
}
.Toastify__toast--success {
  background-color: var(--primary-button);
}
.Toastify__toast--error {
  background-color: var(--error-color);
}
