.vector img {
  width: 100%;
  clip-path: view-box;
}

.vector h1 {
  font-weight: 600;
  font-family: Overpass;
  font-size: 4.5vw;
  box-sizing: border-box;
  width: 50vw;
  padding-left: 10vw;
  color: var(--white);
  position: relative;
  bottom: 55vw;
}

.infoBar img {
  width: 100%;
}

.infobar h1 {
  font-size: 4vw;
  font-family: Overpass;
  left: 50vw;
}
