.home {
  background-color: white;
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
    min-height: 90vh;
    z-index: 2;

    @media(max-width: 600px) {
      min-height: 50vh;
    }

    .image {
      position: relative;
      background-image: url(../../assets/images/vector.svg);
      background-repeat: no-repeat;
      background-size: contain;
      flex-basis: 70%;

      @media(max-width: 600px) {
        flex-basis: 100%;
        background-size: cover;
         min-height: 40vh;
      }

      h1 {
        position: absolute;
        top: 17%;
        left: 10%;
        font-size: 2.8rem;
        font-weight: 800;
        line-height: 1.7;
        color: white;
        max-width: 15ch;

        @media(max-width: 600px) {
          font-size: 1.8rem;
          // top: 10%;
          // left: 11%;
        }
      }
    }

    .image2 {
      flex-basis: 30%;
      background-image: url(../../assets/images/persona.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @media(max-width: 600px) {
        display: none;
      }
    }
  }
}