body {
  background: linear-gradient(125deg, #fffffff0, #F0F0F0 100%);
  font-family: Overpass, 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
}

h1, h2 ,h3, h4 {
  color: var(--title-color)
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

p {
  color: var(--text-color);
}

span {
  // font-weight: 300;
  color: var(--text-color);
}

a {
  text-decoration: none;
  font-weight: 600;
}