body {
  background: linear-gradient(125deg, #fffffff0, #F0F0F0 100%);
  font-family: Overpass;
}

h1 {
  color: var(--title-color);
}

p {
  color: var(--text-color);
}

span {
  color: var(--text-color);
}