.login {
  min-height: 100vh;
  margin: 0 auto;
  padding: 5rem 1rem;
  background: linear-gradient(
    309.23deg,
    rgba(136, 56, 255, 0.95) 3.17%,
    rgba(233, 66, 255, 0.5) 114.71%
  );

  @media (max-width: 600px) {
    min-height: 0vh;
    padding: 2rem 1rem;
  }

  &__body {
    max-width: 400px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 3rem 4rem;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25),
      0px 4px 4px rgba(51, 51, 51, 0.25), 0px 1px 1px rgba(51, 51, 51, 0.12);

    h1 {
      font-weight: 600;
    }

    @media (max-width: 600px) {
      width: 100%;
      padding: 2rem;
    }

    &--form {
      margin-top: 2rem;

      button {
        margin: 0 auto;
        margin-top: 1rem;
      }
    }

    .form-action {
      position: relative;
      display:  flex;
      align-items: center;
      flex-direction: column;
      margin-top: 1rem;
      text-align: center;

      @media(max-width: 600px) {
        width: 100%;
      }

      .loader {
        position: absolute;
        bottom: calc(-100% + 2rem);
      }

      button {
        width: 10rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  &__resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    a {
      color: var(--secondary-color);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
