
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    background: linear-gradient(309.23deg, rgba(136, 56, 255, 0.95) 3.17%, rgba(233, 66, 255, 0.5) 114.71%);
    font-family: Overpass;

    @media(max-width: 600px) {
        padding: 2rem;
    }

    &__body {
        max-width: 400px;
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 3rem 4rem;
        margin: 0 auto;
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25), 0px 4px 4px rgba(51, 51, 51, 0.25), 0px 1px 1px rgba(51, 51, 51, 0.12);

        @media(max-width: 600px) {
            width: 100%;
            padding: 2rem;
        }

        &--form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2.5rem;

            label {
                align-self: flex-start;
                margin: 0.5rem 0 0;
            }

            &-input {
                width: 100%;
                border: 1px solid var(--border-color);
                border-radius: 10px;
                padding: 0.35rem 1rem;
            }

            button {
                margin-top: 2rem;
            }

        }
    }

    &__resources {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
}

.danger {
    color: var(--error-color);
}

