.register-confirm {
   min-height: 100vh;
   max-width: 80%;
   margin: 0 auto;
   padding: 5rem 1rem;

   &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      box-shadow: 0px 5px 10px rgba(43, 43, 43, 0.1), 0px 15px 40px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      padding: 3rem;
      margin: 0 auto;
      max-width: 55%;

      p {
         text-align: center;
      }
   }

   &__success {
      h3 {
         color: var(--secondary-green);
         margin-bottom: 1rem;
      }

      .emphasis {
         font-weight: 600;
         color: var(--secondary-color);
      }
   }

   &__failed {
      h3 {
         color: var(--error-color);
         margin-bottom: 1rem;
      }
   }
   
}
