name: Continuous Integration - Homolog Deploy

on:
  push:
    branches:
      - develop
      - 50-ci-cd

jobs:

  Deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v2

    - name: Push to GitHub Packages
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: docker.pkg.github.com
        name: fga-eps-mds/2020.1-minacademy-frontend/app
        tags: homolog
        context: ./
        default_branch: 50-ci-cd
        dockerfile: prod.Dockerfile
